@model IEnumerable<Uni_Shop.ModelDBs.DonViTinh>
@using Uni_Shop.ModelDBs
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    Pager pager = new Pager();
    int pageNo = 0;
    if (ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        pageNo = pager.CurrentPage;
    }
}
<div class="position-fixed d-none" id="sieuchua" style="text-align: center; background-color: #F8F8F8; height: 100px; width: 400px; left: 700px; top: 270px;">
    <div id="chua" class="">

    </div>
    <button class="btn btn-outline-primary position-absolute  " id="huy" style=" width: 70px; right: 120px; top: 50px;">Hủy</button>
</div>
<div class="container">
    <h1 class="mt-4">Danh sách đơn vị tính</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a style="color: black;" asp-action="Index" asp-area="Admin" asp-controller="Home">Trang chủ</a></li>
        <li class="breadcrumb-item active">Danh sách đơn vị tính</li>
    </ol>
    <button class="btn btn-outline-primary" style="margin-bottom:20px">@Html.ActionLink("Thêm đơn vị tính", "Create")</button>
    <table class="table" style="background:white">
        <thead class="table-dark">
            <tr>
                <th class="text-left">
                    Mã đơn vị tính
                </th>
                <th class="text-left">
                    Tên đơn vị tính
                </th>
                <th class="text-center">
                    Thao tác
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.MaDonViTinh)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TenDonViTinh)
                    </td>
                    <td class="text-center">
                        <button class="btn btn-outline-success" >@Html.ActionLink("Cập nhật", "Edit", new { id = item.MaDonViTinh})</button>
                        <button class="btn btn-outline-danger xoa" style="color:black; font-weight:bold" value="@Html.DisplayFor(modelItem => item.MaDonViTinh)">Xóa</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="container">
    @if (pager.TotalPages > 0)
    {
        <ul class="pagination justify-content-center">
            @if (pager.CurrentPage > 1)
            {
                <li class="page-item">
                    <a class="page-link" asp-area="Admin" asp-controller="DonViTinh" asp-action="Index" asp-route-pg="1">Đầu</a>
                </li>
                <li class="page-item">
                    <a class="page-link" asp-area="Admin" asp-controller="DonViTinh" asp-action="Index" asp-route-pg="@(pager.CurrentPage - 1)">Trước</a>
                </li>
            }
            @for (var pge = pager.StartPage; pge <= pager.EndPage; pge++)
            {
                <li class="page-item @(pge == pager.CurrentPage ? "active" : "")">
                    <a class="page-link" asp-area="Admin" asp-controller="DonViTinh" asp-action="Index" asp-route-pg="@pge">@pge</a>
                </li>
            }
            @if (pager.CurrentPage < pager.TotalPages)
            {
                <li class="page-item">
                    <a class="page-link" asp-area="Admin" asp-controller="DonViTinh" asp-action="Index" asp-route-pg="@(pager.CurrentPage +1)">Sau</a>
                </li>
                <li class="page-item">
                    <a class="page-link" asp-area="Admin" asp-controller="DonViTinh" asp-action="Index" asp-route-pg="@(pager.TotalPages)">Cuối</a>
                </li>
            }
        </ul>
    }

</div>
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<script>
    $(document).ready(function () {
        $('#huy').click(function () {
            $("#sieuchua").addClass('d-none');
        });

        $('.xoa').each(function (index, value) {
            $(value).click(function () {
                $('#sieuchua').removeClass('d-none');
                let str = "/Admin/DonViTinh/Delete/" + $(value).val();
                console.log($(value).val());
                $('#chua').load(str);
            })
        });
    })
</script>